body {
display: flex;
flex-direction: column;
font-family: "Roboto", sans-serif;
font-weight: 400;
font-style: normal;
margin: 0;
}

#header, #footer {
 background-color: #1F2937;
 display: flex;
 flex-direction: column;
 padding: 2% 10% 5% 10%;
 justify-content: space-around;
 
}

.header-top {
    display: flex;
}

.header-top h1 {
    font-size: 24px;
    color: #F9FAF8;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
}

.header-top a {
    padding: 0 10px 0 10px;
    color: #E5E7EB;
    text-decoration: none;
    font-size: 18px;
}

.header-bottom {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: extra-bold;
    display: flex;
    flex: auto;
    align-items: center;
    justify-content: space-around;
    gap: 10%;
}

.header-bottom .awesome-website {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.header-bottom h1 {
    margin-bottom: 0;
}

.header-bottom p {
    font-size: 18px;
    color: #E5E7EB;
}

.header-bottom button {
    background-color: #3882F6;
    color: white;
    padding: 7px 10px 7px 10px;
    width: 100px;
    border-radius: 12px;
    border: 0;
}

.placeholder-image {
    flex: 1;
}

.header-bottom img {
    max-width: 500px;
    max-height: 300px;
    height: auto;
    width: auto;
}

#random-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.random-info-boxes {
    display: flex;
    gap: 2em;
    padding: 2% 10% 5% 10%;
}

.info-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.info-box p {
    text-align: center;
    width: 70%;
}

.info-box img {
    border: 5px solid blue;
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 12px;
}

#thor-quote {
background-color: #E5E7EB;
color: #1F2937;
font-size: 36px;
font-weight: light;
font-style: italic;
padding: 2% 10% 5% 10%;
}

.sora {
    font-weight: bold;
    text-align: end;
}

#call-to-action {
 background-color: #3882F6;
 margin: 5% 10% 5% 10%;
 padding: 1% 10% 1% 10%;
 display: flex;
 align-items: center;
 gap: 3em;
 border-radius: 12px;
}

.action-text {
    margin-right: auto;
    color: white;
    justify-self: flex-start;
}

.action-text p {
    margin-top: 0;
    font-size: 14px;
}

.action-text h2 {
    margin-bottom: 5px;
}

.action-button button {
    padding: 7px 10px 7px 10px;
    width: 100px;
    border-radius: 12px;
    background-color: #3882F6;
    color: white;
    border: 2px solid white;
}

#footer {
    color: white;
    align-items: center;
    justify-content: center;
    padding: 10px;
}